
<nz-drawer [nzClosable]="true" [nzVisible]="isVisible" nzPlacement="right" [nzTitle]="recurringTask | taskDrawerTitle"
           nzWidth="500px" (nzOnClose)="isVisible = false">

  <ng-container *nzDrawerContent>

    <div *ngIf="recurringTask" style="color: white" class="w-100">

      <div class="w-100 mt-4">

        <div><span class="text-danger">*</span>Title</div>

        <input nz-input [(ngModel)]="recurringTask.title" >

      </div>

      <div class="w-100 mt-3">

        <div><span class="text-danger">*</span>Priority</div>

        <nz-select [(ngModel)]="recurringTask.priority" class="w-100" [nzOptions]="PriorityOptions"></nz-select>

      </div>

      <div class="w-100 mt-2">

        <div>Description</div>

        <textarea nz-input [(ngModel)]="recurringTask.description"></textarea>

      </div>

      <div class="w-100 mt-3">

        <div><span class="text-danger">*</span>Mode</div>

        <nz-select [ngModel]="recurringTask.mode" class="w-100" [nzOptions]="ModeOptions"
                   (ngModelChange)="switchMode($event)"></nz-select>

      </div>

      <ng-container [ngSwitch]="recurringTask.mode">

        <div *ngSwitchCase="Modes.WEEKLY" class="w-100 mt-3">

          <div>Select Days</div>

          <nz-select [(ngModel)]="recurringTask.taskMetadata.weekdays" class="w-100" [nzOptions]="WeekdayOptions"
                     nzMode="multiple"></nz-select>

        </div>

        <div *ngSwitchCase="Modes.MONTHLY" class="w-100 mt-3">

          <div>Select Days</div>

          <nz-select [(ngModel)]="recurringTask.taskMetadata.monthDays" class="w-100" [nzOptions]="MonthDayOptions"
                     nzMode="multiple"></nz-select>

        </div>

      </ng-container>

    </div>

    <div class="mt-4 d-flex w-100 justify-content-end">

      <button nz-button (click)="create()" nzType="primary" [nzLoading]="loading"
              [disabled]="loading">Save</button>

    </div>

  </ng-container>

</nz-drawer>
