<nz-table #recurringTaskTableTag [nzData]="recurringTasks">

  <thead>
  <tr>

    <th>Title</th>

    <th>Mode</th>

    <th>Frequency</th>

    <th nzWidth="15%">Actions</th>

  </tr>
  </thead>

  <tbody>

  <ng-container *ngFor="let recurringTask of recurringTaskTable.data">

    <tr style="cursor: pointer" (click)="recurringTasksService.toggleOpenHistory(recurringTask.id, recurringTask.taskHistory)">

      <td>{{recurringTask.title}}</td>

      <td>{{recurringTask.mode}}</td>

      <td>Every {{recurringTask | frequencyToString}} </td>

      <td>

        <button nz-button (click)="editRecurringTask.emit(recurringTask)" nzType="primary">
          <fa-icon [icon]="edit"></fa-icon>
        </button>

      </td>

    </tr>

    <tr *ngIf="recurringTask.taskHistory.open">

      <app-recurring-task-history-row [recurringTask]="recurringTask"></app-recurring-task-history-row>

    </tr>

  </ng-container>

  </tbody>

</nz-table>
