<div  class="task-box mt-2" (click)="editTask.emit(task)">

  <label nz-checkbox [ngModel]="!!task.completedAt" (ngModelChange)="completedTask(task.id, $event)"></label>

  <div class="me-2" [ngSwitch]="task.priority">

    <fa-icon [icon]="outlineStar" *ngSwitchCase="Priority.Low"></fa-icon>
    <fa-icon [icon]="star" class="text-warning" *ngSwitchCase="Priority.Normal"></fa-icon>
    <fa-icon [icon]="star" class="text-danger" *ngSwitchCase="Priority.High"></fa-icon>

  </div>

  {{task.title}}

</div>
